@import url("https://fonts.googleapis.com/css2?family=Sarabun:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  font-family: "sarabun";
}

body {
  background-color: lightcyan;
}

.page {
  font-size: 14px;
  height: 100%;
  width: 100%;
}

p {
  white-space: pre-line;
}

.vat {
  display: block !important;
}

.label,
.left {
  float: left;
  top: 5px;
  right: 10px;
  padding: 0px;
  margin-right: 5px;
  background: #fff;
}

.itemName {
  justify-content: space-between !important;
}

.brunch,
.right {
  float: right;
  top: 5px;
  right: 10px;
  padding: 0px;
  background: #fff;
}

.nettotal {
  font-weight: bolder;
  display: flex;
  > * {
    display: flex;
    flex: 1;
    justify-content: space-between;
  }
  > :last-child {
    display: flex;
    flex: 0.3;
    justify-content: end;
  }
}

.page {
  display: flex;
  flex-direction: column;
  > .header {
    display: flex;
    flex: 0 1;
    height: 100px;
    min-height: 100px;

    .companySender {
      display: flex;
      flex: 0.7;

      .logo {
        display: flex;
        align-items: center;
        flex-grow: 0;
        flex-shrink: 1;
        padding: 0px;
      }

      .detail {
        flex: 1;
        padding: 6px;
      }
    }

    .name {
      display: flex;
      flex-direction: column;
      flex: 0.3;
      align-items: end;
      text-align: end;
      justify-content: space-between;
      padding-bottom: 10px;
      > * {
        padding: 6px;
      }
      > *:first-child {
        font-size: 20px;
      }
    }
  }

  .body {
    flex-direction: column;
    border: solid 1px #000;

    > .header {
      display: flex;
      flex: 1;
      height: 220px;
      min-height: 220px;

      .customer {
        border-right: solid 1px #000;
        display: block;
        flex: 1 1;
        > :not(:last-child) {
          border-bottom: solid 1px #000;
        }
        > * {
          padding: 8px;
          min-height: 90px;
          max-height: 90px;
        }
      }

      .shippingDetail {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 0.646 0;
        padding: 0px;
        .left {
          font-size: 12px;
          padding-right: 0px;
        }
        > * {
          display: flex;
          flex: 1 1 0px;
          height: 0;
          flex-direction: row;
          > * {
            padding: 8px 8px;
            flex: 1;
          }
        }
        > *:not(:last-child) {
          border-bottom: solid 1px #000;
        }
      }
    }

    .detail {
      display: column;
      flex: 1;
      flex-direction: row;

      border-top: solid 1px #000;

      > *:not(:last-child) {
        border-bottom: solid 1px #000;
      }

      .total:has(*) {
        border-bottom: solid 0px #000;
      }
      .total:not(:last-child) > *:not(:first-child) {
        border-bottom: solid 1px #000;
        justify-content: end;
      }

      &.bill {
        > .header {
          background-color: lightgray;
        }
        > * {
          font-size: 12px;
          > *:not(:last-child) {
            border-right: solid 1px #000;
          }
          > :first-child {
            display: flex;
            width: 35px;
            justify-content: center;
          }
          > *:not(:first-child) {
            display: flex;
            flex: 0.7 0;
            justify-content: center;
          }
          > *:nth-child(2) {
            flex: 1 0;
          }

          > *:nth-child(3),
          *:nth-child(4),
          *:nth-child(5),
          *:nth-child(6) {
            flex: 0.66 0;
          }
        }

        > * {
          display: flex;
          justify-content: space-between;
          > *:not(:last-child) {
            border-right: solid 1px #000;
          }

          > * {
            padding: 8px 8px 4px 4px;
          }

          > :first-child {
            display: flex;
            width: 35px;
            justify-content: end;
          }
          > *:nth-child(2) {
            display: flex;
            flex: 2 0;
            padding-left: 8px;
            justify-content: left;
          }
          > *:nth-child(3),
          *:nth-child(4) {
            display: flex;
            flex: 0.5 0;
            justify-content: center;
          }
          > *:nth-child(5),
          *:nth-child(6) {
            display: flex;
            flex: 0.6 0;
            justify-content: end;
          }
          *:nth-child(7) {
            display: flex;
            flex: 0.7 0;
            justify-content: end;
          }
        }
      }

      &.invoice {
        > .header {
          background-color: lightgray;
          font-size: 12px;
          > *:not(:last-child) {
            border-right: solid 1px #000;
          }
          > :first-child {
            display: flex;
            width: 35px;
            justify-content: center;
          }
          > *:not(:first-child) {
            display: flex;
            flex: 0.7 0;
            justify-content: center;
          }
          > *:nth-child(2) {
            flex: 2 0;
          }
          > *:nth-child(3) {
            flex: 0.6 0;
          }
          > *:nth-child(4),
          *:nth-child(6) {
            flex: 0.4 0;
          }
        }

        > * {
          display: flex;
          justify-content: space-between;
          > *:not(:last-child) {
            border-right: solid 1px #000;
          }

          > * {
            padding: 8px 8px 4px 4px;
          }

          > :first-child {
            display: flex;
            width: 35px;
            justify-content: end;
          }
          > *:nth-child(2) {
            display: flex;
            flex: 2 0;
            padding-left: 8px;
            justify-content: left;
          }
          > *:nth-child(4),
          *:nth-child(6) {
            display: flex;
            flex: 0.4 0;
            justify-content: center;
          }
          > *:nth-child(3) {
            display: flex;
            flex: 0.6 0;
            justify-content: end;
          }
          *:nth-child(5),
          *:nth-child(7) {
            display: flex;
            flex: 0.7 0;
            justify-content: end;
          }
        }
      }

      > .row {
        display: flex;
      }
    }
  }

  .remark {
    flex: 1;
    > * {
      margin: 16px 0px;
    }
  }

  .payment {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: end;
    > * {
      padding-bottom: 8px;
      display: flex;
      justify-content: space-between;
    }
    *:nth-child(2) {
      > *:nth-child(2n) {
        border-bottom: #000 1px solid;
        flex: 1;
        margin: 0px 8px;
      }
    }
  }

  .footer {
    display: flex;
    gap: 0px 40px;
    align-items: end;
    .box {
      display: flex;
      flex-direction: column;
      flex: 1;

      padding: 8px;
      > * {
        justify-content: center;
      }

      // > *:not(:last-child) {
      //   background-color: lightgray;
      // }

      // > *:first-child {
      //   background-color: lightgray;
      // }

      > *:nth-child(2) {
        min-height: 120px;
      }
      border: 1px solid #000;
    }
  }
}

.sign {
  display: flex;
  align-items: center;
}

.end {
  justify-content: end !important;
}
